@font-face {
    font-family: 'Arimo';
    src: url('../../../homework05/Fonts/arimo-v12-latin-regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../../../homework05/Fonts/arimo-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../../../homework05/Fonts/arimo-v12-latin-regular.woff2')      format('woff2'),
    url('../../../homework05/Fonts/arimo-v12-latin-regular.woff')       format('woff'),
    url('../../../homework05/Fonts/arimo-v12-latin-regular.ttf')        format('truetype'),
    url('../../../homework05/Fonts/arimo-v12-latin-regular.svg#Arimo')  format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

html, body {
    width: 100%;
    height: 100%;
}

div.wrapper {
    width: 100%;
    height: 100%;
    background-color: #3a4965;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
}

th>p {
    font-size: 24px;
    line-height: 28px;
    color: #484848;
    font-weight: 700;
}

p.category{
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.wrapper table {
    /*width: 1160px;*/
    border-collapse: collapse;
}

td:nth-child(odd), th:nth-child(odd) {
    background-color: #f2f2f2;
}

td:nth-child(even), th:nth-child(even) {
    background-color: #e3e3e3;
}

tr>th {
    height: 113px;
}

th.cell-0-0 {

    background-color: #fafafa;
    /*border-left: 2px #d7d7d7 solid;*/
    width: 199px;
}

td {
    width: 158px;
}

tr>td {
    height: 167px;
}

.p-choose {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
}

.p-pricing {
    font-size: 20px;
    line-height: 28px;
    color: #484848;
    font-weight: 700;
}

button {
    width: 144px;
    height: 41px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    background: linear-gradient(to bottom, #484848 85%, #404040 50%);
}

button:hover {
    color: #16a085;
}

i {
    color: #848484;
    transform: scale(1.5);
}

div.pricing>p {
    float: left;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-top: 6px;
}
td>div.pricing>p.price {
    float: left;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0;
}

td>div.pricing>p.price99 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-right: 8px;
}

tr > td > div.pricing {
    display: inline-block;
    /*border: 1px solid black;*/
    width: 160px;
    height: 45px;
    color: white;
    margin-top: 11px;
}


td {
    border-top: 2px #d7d7d7 solid;
    /*box-shadow: 0 0 2px rgba(0,0,0,0.5); !* Параметры тени *!*/
}

tr.tr-prices {
    height: 86px;
    background-color: #fafafa;
}

td.td-2 {
    background-color: #89c331;
    border-top: none;
}

td.td-3 {
    background-color: #f04a56;
    border-top: none;
    font-size: 30px;
}

td.td-4 {
    background-color: #20807c;
    border-top: none;
}






