body, html {
    font: 12pt/10pt sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    background: #c0c0c0;
    /*width: 1600px;*/
    border: 1px #000 solid;
}

.container .header-wrapper {
    background-image: url("../img/header_bg.png");
    margin: 0;
    height: 900px;
}

.container .header-wrapper .header {
    padding-left: 216px;
    padding-top: 531px;
}

.container .header-wrapper .header .header-subtitle,
.container .header-wrapper .header .header-title h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container .header-wrapper .header .header-title h1,
.container .header-wrapper .header .header-title h2,
.container .header-wrapper .header .header-subtitle h2 {
    color: #ffffff;
}

.container .header-wrapper .header .header-title h1 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 16px;
}

.container .header-wrapper .header .header-title h2 {
    color: #e6f5f5;
    font-size: 18px;
    margin-bottom: 28px;
}

.container .header-wrapper .header .header-subtitle h2 {
    border: 1px #788794 solid;
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    line-height: 51px;
    padding: 48px 43px 41px 30px;
}

.container .header-wrapper .header .header-subtitle h2 span {
    color: #f1ad1d;
    padding-right: 51px;
}

.container .header-wrapper .header .header-subtitle > h2 {
    background-color: rgba(0, 0, 0, 0.5);
}

.container .main-wrapper {
    background-image: url("../img/main_bg.png");

}

.container .main-wrapper .main-header {
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    text-transform: uppercase;
    /*padding-left: 605px;*/
    padding-top: 69px;
}

.container .main-wrapper .main-sub-header {
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    margin-top: 35px;
}

.container .main-wrapper .main-hr {
    padding-top: 52px;
    border-bottom: 2px #f1ad1d solid;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.container .main-wrapper .main-logo {
    text-align: center;
    padding-top: 57px;
    height: 180px;
}

.container .main-wrapper .nav-bar .sertin, .container .main-wrapper .nav-bar .nav-sertin {
    display: inline-block;
}

.container .main-wrapper .nav-bar {
    margin: 0 auto;
    width: 1169px;
    margin-bottom: 122px;
}

.container .main-wrapper .sertin {
    /*margin-right: 50px;*/
}

.container .main-wrapper .nav-bar .nav-sertin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 778px;
    margin-right: 25px;
}

.container .main-wrapper .nav-bar .nav-sertin li a {
    font-size: 18px;
    text-transform: uppercase;
    color: #989898;
    text-decoration: none;
    display: inline-block;
    /*padding-right: 61px;*/
}

.container .main-wrapper .nav-bar {
    align-items: center;
    margin-top: 100px;

}

.container .main-wrapper .nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1169px;
    border-bottom: 1px solid #f1b128;
    padding-bottom: 22px;
    align-items: center;
    /*margin-bottom: 30px;*/
    /*margin-left: 50px;*/
}

/*ABOUT-US*/
h2.about-us-head{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 33px;
}
p.about-us-description{
    font-size: 17px;
    text-align: center;
    margin-bottom: 52px;
}
.about-us .main-hr.about-us-line{
    padding-top: 0;
    margin-bottom: 52px;
}
