* {
    padding: 0;
    margin: 0;
}
/*main, footer{*/
/*     padding-left: 100px; */
/*     padding-right: 100px;*/
/* }*/
a{
    text-decoration: none;
}

.wrapper{
    height: 100%;
    width: 1280px;
    margin: 0 auto;
}
.text-first{
    text-decoration: none;
    padding:20px 0;

}
.blackRA{
    color: black;
    font-size: 80px;
}
.text-first>a {
    color: black;
    font-size: 80px;
    text-decoration: none;
}
.nav{
    display: inline-block;
    width: 1280px;
    height: 69px;
    border-style: none;
    background: #35444f;
    margin-bottom: 30px;
}
.list{
    list-style-type: none;
    width: 830px;
    margin: 0 auto;
}
.nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 20px 10px;
    margin-right: 25px
}


.nav-item-link{
    font-size: 24px;
    color:#e2e3e5;
    text-decoration: none;
}
.text-left{
    display: block;
    text-align: left;
    padding-left: 30px;
    padding-top: 10%;
    color: #495863;
    font-size:30px;
}

.left-sidebar>ul{
    font-size: 30px;
}
.left-sidebar>ul>li>a{
    color: black;
}
.text-left:hover{
    background-color: #dbdbdb;
}
.text-left>a{

}

p{
    clear: right;
}

.content{
    border: 1px #35444f solid;
    width: 885px;
    height: 529px;
    float: right;
 }
.img{
    width: 320px;
    height: 381px;
}
.left-sidebar{
    width: 344px;
    height: 399px;
    border: 1px #35444f solid;
    float: left;
    list-style: none;
}
/*footer>ul{*/
/*    display:inline-block;*/
/*    width: 1280px;*/
/*    height: 69px;*/
/*    border-style: none;*/
/*    text-align: center;*/
/*}*/
footer{
    background: #b4b7ba;
    text-align: left;
    padding: 0 50px;
}
.text{
    display: block;
    margin-left: 426px;
    margin-top: 550px;
}

.footer-menu{
    display: inline-block;
}

.footer-item{
    display: inline-block;
    border: none;
    list-style: none;
    font-size:24px;
    padding: 20px 0;
    margin-right: 30px;
}

.copyright {
    display: inline-block;
    margin-left: 220px;
    font-size: 24px;
}