*{
    padding: 0;
    margin: 0;
}

div.wrapper{
    background-image:url("../image/background.png");
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}
p{
    /*display: block;*/
    text-decoration: none;
    color: white;
   }

div.container{
    width: 1072px;
    height: 760px;
    /*border: 2px white solid;*/
    margin: 0 auto;
}

div.header{
    display: inline-block;
    width: 1072px;
    height: 47px;
    /*border: 2px white solid;*/
    margin-top: 49px;
    margin-right: 50px;
}
.clear::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    width: 170px;
}
.logo-img{
    float: left;
    height: 50px;
}
.logo-main{
    float: right;
    font-size: 29px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.logo-Holiday{
    font-size: 18px;
}
.contacts{
    float: right;
    text-align: right;
}
.contact{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}
/*.home{*/
/*    float: left;*/
/*}*/
.logo{
    /*display: block;*/
    /*float: right;*/
}
.logo-Milan{
    font-size: 19px;
    font-weight: bold;
}
.logo2{
    font-size: 8px;
    font-weight: bold;
}

p .contact{
    float: right;
}
p .contact{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.content{
    margin-top:48px;
    width: 1072px;
}
div .main .extra {
    width: 316px;
    height: 63px;
    display: none;
    position: absolute;
    top: 164px;
    background: #FF9933;
    text-align: center;
    opacity: 1;
    /*padding: 0;*/
}
.main:hover .extra{
    display: block;
    transition: 3s;
}
.text-left{
    float: left;
}
.one{
    font-size: 10pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.two{
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.extra p{
    float: right;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.info{
    clear: both;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
}
.main {
    float: left;
    text-decoration: none;
    text-align: center;
    margin: auto 25px;
    transform: scale(0.9);
}
div.footer {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    width: 450px;
    height: 18px;
    /*border: 2px white solid;*/
    margin-left: 300px;
    margin-top: 620px;
}